<div class="col-{{xs}} col-sm-{{sm}} col-lg-{{lg}} my-3 my-md-5" itemid="{{ product.id }}">
	<div class="product-card">
		{% set exit = false %}
		{% for i in product.related_categories  if not exit %}
			{% if i.id == "13" %}
				<span class="tag outlet">Outlet</span>
				{% set exit = true %}
			{% endif %}
		{% endfor %}
		<a href="{{product.link}}" title="{{product.name}}" data-tray-tst="vitrine_produto_link_imagem">
			<div class="product-image product-hover-buy" data-image_multiplier="{{settings.image_type2|default(1.4)}}" data-image_type="cover">
				{% set porcentagemDesconto = 100 - ( product.price_offer / product.price ) * 100 %}
				{% if porcentagemDesconto < 100 %}
					<div class="discount-nenza">
						<span>
							-{{ porcentagemDesconto|number_format }}%
						</span>
					</div>
				{% endif %}
				{% if product.images %}
					<img itemprop="image" data-src="{{ product.images[0].full }}" alt="{{ product.name }}" title="{{ product.name }}">
				{% else %}
					<img data-src="{{ asset('img/no-image.svg') }}" alt="Nenhuma imagem foi cadastrada" width="100" title="{{ product.name }}">
				{% endif %}

				{% if product.images[1] %}
					<img itemprop="image" class="nenza-second-image" src="{{ product.images[1].full }}" alt="{{ product.name }}" title="{{ product.name }}">
				{% endif %}
				<span class="text-uppercase text-center transition">Comprar</span>
			</div>
			<p class="product-title text-uppercase font-weight-bold my-3" itemprop="name">{{ product.name }}</p>
		</a>
		{% element 'snippets/alpix-product-ranking' {
            'ranking': product.ranking,
        } %}
		<div class="product-box-price">
			{% element 'snippets/product-payment' {"product": product } %}
		</div>

        <a href="{{product.link}}" class="btn-comprar-nenza" title="{{product.name}}">
            <span>Comprar</span>
        </a>
	</div>
</div>
